*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.headings{
  color: aqua;
  padding: 30px;
  text-align: center;

}
.pics{
  display: flex;
  justify-content: center;
  
}
.pics img{
  
  padding: 5px;
}